{% extends "base.html.twig" %}

{% block title %}{{ 'group.invitation.new.title'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>{{ 'group.invitation.new.title'|trans }}</h4>

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username) }}
                </div>

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}