{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show card">
    <div class="card-content">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
    <div class="card-action">
        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ 'profile.edit'|trans({}, 'messages' ) }}" href="{{ path('fos_user_profile_edit') }}"><i class="material-icons">mode_edit</i></a>
        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ 'profile.delete'|trans({}, 'messages' ) }}" href=""><i class="material-icons">delete</i></a>
    </div>
</div>
