{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show card">
    <div class="card-block">
        <p class="card-text">{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p class="card-text">{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
    <div class="card-footer">
        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ 'profile.edit'|trans({}, 'messages' ) }}" href="{{ path('fos_user_profile_edit') }}"><i class="glyphicon glyphicon-pencil"></i></a>
        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ 'profile.delete'|trans({}, 'messages' ) }}" href=""><i class="glyphicon glyphicon-trash"></i></a>
    </div>
</div>
