{% extends "base.html.twig" %}

{% block title %}{{ 'config.page_title'|trans }}{% endblock %}

{% block content %}
<div class="container ombre">
        <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active tab"><a href="#set1" aria-controls="home" role="tab" data-toggle="tab">{{ 'config.tab_menu.settings'|trans }}</a></li>
                    <li role="presentation" class="tab"><a href="#set2" aria-controls="home" role="tab" data-toggle="tab">{{ 'config.tab_menu.user_info'|trans }}</a></li>
                    <li role="presentation" class="tab"><a href="#set3" aria-controls="home" role="tab" data-toggle="tab">{{ 'config.tab_menu.password'|trans }}</a></li>
                </ul>

                <div class="tab-content">

                    <div id="set1" class="col-md-6 tab-pane active" role="tabpanel">
                        {{ form_start(form.config) }}
                        {{ form_errors(form.config) }}

                        <div class="form-group">
                            {{ form_label(form.config.language) }}
                            {{ form_errors(form.config.language) }}
                            {{ form_widget(form.config.language) }}
                        </div>
                        {{ form_widget(form.config.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        {{ form_rest(form.config) }}
                        </form>
                    </div>

                    <div id="set2" class="col-md-6 tab-pane" role="tabpanel">
                        {{ form_start(form.user) }}
                        {{ form_errors(form.user) }}

                        <h4>{{ 'config.form_user.title'|trans }}</h4>

                        <div class="form-group">
                            {{ form_label(form.user.username) }}
                            {{ form_errors(form.user.username) }}
                            {{ form_widget(form.user.username) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.user.email) }}
                            {{ form_errors(form.user.email) }}
                            {{ form_widget(form.user.email) }}
                        </div>

                        {{ form_widget(form.user.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        {{ form_widget(form.user._token) }}
                        </form>

                        <h4>{{ 'config.reset.title' | trans }}</h4>
                        <p>{{ 'config.reset.description'|trans }}</p>
                        <a class="btn btn-warning" href="{{ path('config_reset', { type: 'entries'}) }}" onclick="return confirm('{{ 'config.reset.confirm'|trans|escape('js') }}')" class="waves-effect waves-light btn red">
                            {{ 'config.reset.presentations'|trans }}
                        </a>

                        {% if form.enabled_users > 1 %}

                        <h4>{{ 'config.form_user.delete.title'|trans }}</h4>
                        <p>{{ 'config.form_user.delete.description'|trans }}</p>
                        <a href="{{ path('delete_account') }}" onclick="return confirm('{{ 'config.form_user.delete.confirm'|trans|escape('js') }}')" class="btn btn-danger">
                            {{ 'config.form_user.delete.button'|trans }}
                        </a>
                        {% endif %}
                    </div>

                    <div id="set3" class="col-md-6 tab-pane" role="tabpanel">
                        {{ form_start(form.pwd) }}
                        {{ form_errors(form.pwd) }}

                        <h4>{{ 'config.form_password.description'|trans }}</h4>

                        <div class="form-group">
                            {{ form_label(form.pwd.old_password) }}
                            {{ form_errors(form.pwd.old_password) }}
                            {{ form_widget(form.pwd.old_password) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.pwd.new_password.first) }}
                            {{ form_errors(form.pwd.new_password.first) }}
                            {{ form_widget(form.pwd.new_password.first) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.pwd.new_password.second) }}
                            {{ form_errors(form.pwd.new_password.second) }}
                            {{ form_widget(form.pwd.new_password.second) }}
                        </div>

                        {{ form_widget(form.pwd.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        {{ form_rest(form.pwd) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
