{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block content %}
<div class="container ombre">
    {% if not app.user %}
        {% include 'default/guest.html.twig' %}
    {% else %}
    <div class="row">
        {% for presentation in presentations %}
            <div class="col-xs-12 col-sm-4">
                <div class="card" data-presentation="{{ presentation.id }}" data-template="{{ presentation.isTemplate ? '1' : '0' }}" data-public="{{ presentation.isPublic ? '1' : '0' }}">
                    <div class="card-block">
                        <h4 class="card-title"><span class="title">{{ presentation.title }}</span></h4>
                        <p><span class="label label-default versions">{{ 'presentations.nbversions' | transchoice(presentation.versions | length) }}</span> {% if presentation.isTemplate %}<span class="label label-primary">{{ 'presentations.isTemplate' | trans }}</span>{% endif %} {% if presentation.isPublic %}<span class="label label-success">{{ 'presentations.isPublic' | trans }}</span>{% endif %}</p>
                        <p class="card-text">{{ 'presentations.createdAt' | trans({ '%createdAt%': presentation.createdAt | date("d/m/Y") }) }}
                        {{ 'presentations.updatedAt' | trans({ '%updatedAt%': presentation.getLastVersionDate | time_diff }) }}
                        Nb slides : {{ presentation.getNbSlides }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app') }}" class="edit" data-presentation="{{ presentation.title }}"><i class="glyphicon glyphicon-edit"></i></a>
                        <a href="delete-presentation/{{ presentation.title }}" class="delete" data-presentation="{{ presentation.title }}"><i class="glyphicon glyphicon-trash"></i></a>
                        <a href="#" class="publish" data-presentation="{{ presentation.id }}"><i class="glyphicon glyphicon-bookmark"></i></a>
                        <a href="{{ path('export-presentation', {'presentation': presentation.id }) }}" class="download-json" data-presentation="{{ presentation.title }}"><i class="glyphicon glyphicon-download-alt"></i></a>
                        {% if presentation.rendered %}<a class="play right" href="{{ path('preview', {'type': 'impress', 'title': presentation.title }) }}" target="_blank"><i class="glyphicon glyphicon-play-circle"></i></a>{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="no-presentations-message" style="{{ presentations | length > 0 ? 'display: none;' : '' }}">{{ 'presentations.empty' | trans }}
    {% endif %}
    </div>
</div>
{% include 'default/modals/template.html.twig' %}
{% include 'default/modals/versions.html.twig' %}

{% endblock content %}
