{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block content %}
{% set currentRoute = app.request.attributes.get('_route') %}
{% if currentRoute == 'homepage' %}
    {% set currentRoute = 'presentations' %}
{% elseif currentRoute == 'search' %}
    {% set currentRoute = app.request.query.get('currentRoute') %}
{% endif %}
<div class="container ombre">
    <ul class="nav nav-tabs">
        <li role="presentation" {% if currentRoute == 'presentations' or currentRoute == 'homepage' %}class="active"{% endif %}><a href="{{ path('presentations') }}">{{ 'menu.mypresentations' | trans }}</a></li>
        <li role="presentation" {% if currentRoute == 'templates' %}class="active"{% endif %}><a href="{{ path('templates') }}">{{ 'templates.mine' | trans }}</a></li>
        <li role="presentation" {% if currentRoute == 'templates-published' %}class="active"{% endif %}><a href="{{ path('templates-published') }}">{{ 'templates.published' | trans }}</a></li>
        <li role="presentation" {% if currentRoute == 'templates-public' %}class="active"{% endif %}><a href="{{ path('templates-public') }}">{{ 'templates.public' | trans }}</a></li>
    </ul>
    <div class="row">
        {% if currentRoute == 'presentations' and presentations.currentPage == 1 and app.request.attributes.get('_route') != 'search' %}
        <div class="col-xs-12 col-sm-4">
            <div class="card thumbnail" style="min-height: 133px;">
                <h4 style="text-align: center;">{{ 'presentations.create' | trans }}</h4>
                <a href="{{ path('app') }}"><span class="glyphicon glyphicon-plus no-presentations-message" style="font-size: 70px;"></span></a>
            </div>
        </div>
        {% endif %}
        {% for presentation in presentations %}
            <div class="col-xs-12 col-sm-4">
                <div class="card thumbnail" data-presentation="{{ presentation.id }}" data-presentation-title="{{ presentation.title }}" data-template="{{ presentation.isTemplate ? '1' : '0' }}" data-public="{{ presentation.isPublic ? '1' : '0' }}">
                    <div class="card-block">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="card-title media-heading"><span class="title">{{ presentation.title }}</span> <span class="edit-title small glyphicon glyphicon-edit pointer" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.title.edit' | trans }}"></span></h4>
                                <p><span class="label label-default versions pointer">{{ 'presentations.nbVersions.label' | transchoice(presentation.versions | length) }}</span> {% if presentation.isTemplate %}<span class="label label-primary">{{ 'presentations.isTemplate' | trans }}</span>{% endif %} {% if presentation.isPublic %}<span class="label label-success">{{ 'presentations.isPublic' | trans }}</span>{% endif %}</p>
                                <div class="infoBlock">
                                    <div class="infos">
                                        <small data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.createdAt' | trans }}"><span class="glyphicon glyphicon-time"></span> {{ presentation.createdAt | date("d/m/Y") }}</small><br>
                                        <small data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.updatedAt' | trans }}"><span class="glyphicon glyphicon-refresh"></span> {{ presentation.getLastVersionDate | time_diff }}</small>
                                    </div>
                                    <div class="infos pull-right">
                                        <small data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.nbSlides.desc' | trans }}"><span class="glyphicon glyphicon-th-large"></span> {{ 'presentations.nbSlides.label' | transchoice(presentation.getNbSlides) }}</small><br>
                                        <small data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.nbPictures.desc' | trans }}"><span class="glyphicon glyphicon-picture"></span> {{ 'presentations.nbPictures.label' | transchoice(presentation.pictures | length) }}</small>
                                    </div>
                                </div>
                            </div>
                            {% if presentation.pictures | length > 0 %}
                                <div class="media-right">
                                    <img width="50px" class="img-thumbnail media-object" src="{{ path('show-picture', { 'uuid': (presentation.pictures | first).uuid }) }}" />
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app', {'_fragment': presentation.title }) }}" class="edit" data-presentation="{{ presentation.title }}"><i class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.edit.desc' | trans }}"></i></a>
                        <a href="delete-presentation/{{ presentation.title }}" class="delete" data-presentation="{{ presentation.title }}"><i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.delete.desc' | trans }}"></i></a>
                        <a href="#" class="publish" data-presentation="{{ presentation.id }}"><i class="glyphicon glyphicon-bookmark" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.bookmark.desc' | trans }}"></i></a>
                        <a href="{{ path('export-presentation', {'presentation': presentation.id }) }}" class="download-json" data-presentation="{{ presentation.title }}"><i class="glyphicon glyphicon-download-alt" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.download.desc' | trans }}"></i></a>
                        {% if presentation.rendered %}
                        <a class="share" href="{{ path('share', {'id': presentation.id }) }}"><i class="glyphicon glyphicon-share" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.share.title' | trans }}"></i></a>
                        <a class="play right" href="{{ path('preview', {'type': 'impress', 'title': presentation.title }) }}"><i class="glyphicon glyphicon-play-circle" data-toggle="tooltip" data-placement="bottom" title="{{ 'presentations.preview.desc' | trans }}"></i></a>{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pull-right">
        {% if presentations.getNbPages > 1 %}
            {{ pagerfanta(presentations, 'twitter_bootstrap3_translated', {'proximity': 1}) }}
        {% endif %}
    </div>
    <div class="no-presentations-message" style="{{ presentations | length > 0 ? 'display: none;' : '' }}">
        <p>
            {% if app.request.attributes.get('_route') == 'search' %}
                {{ 'search.empty' | trans({'%term%': app.request.query.get('search_entry')['term'] }) }}
            {% else %}
                {% if currentRoute == 'presentations' %}
                    {{ 'presentations.empty' | trans }}
                {% elseif currentRoute == 'templates-public' %}
                    {{ 'templates.publicempty' | trans }}
                {% elseif currentRoute == 'templates' %}
                    {{ 'templates.empty' | trans }}
                {% endif %}
            {% endif %}
        </p>
        <p>
            <a class="btn btn-primary" href="{{ path('app') }}">{{ 'presentations.create' | trans }}</a>
            {% if currentRoute != 'templates-public' %}<a class="btn btn-default" href="{{ path('templates-public') }}">{{ 'presentations.explore' | trans }}</a>{% endif %}
        </p>
    </div>
</div>
{% include 'default/modals/template.html.twig' %}
{% include 'default/modals/versions.html.twig' %}
{% include 'default/modals/share.html.twig' %}

{% endblock content %}
