{% extends 'base.html.twig' %}

{% block content %}
<div class="container ombre">
    <h1>Modèles</h1>
    <ul class="nav nav-pills">
        {% set currentRoute = app.request.attributes.get('_route') %}
        <li role="presentation" {% if currentRoute == 'templates' %}class="active"{% endif %}><a href="{{ path('templates') }}">{{ 'templates.mine' | trans }}</a></li>
        <li role="presentation" {% if currentRoute == 'templates-public' %}class="active"{% endif %}><a href="{{ path('templates-public') }}">{{ 'templates.public' | trans }}</a></li>
        <li role="presentation" {% if currentRoute == 'templates-published' %}class="active"{% endif %}><a href="{{ path('templates-published') }}">{{ 'templates.published' | trans }}</a></li>
    </ul>
    <div class="row">
    {% for presentation in templates %}
        <div class="col-xs-12 col-sm-4">
            <div class="card thumbnail" data-presentation="{{ presentation.id }}">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="card-title media-heading"><span class="title">{{ presentation.title }}</span> {% if presentation.user != app.user %}<small>{{ 'templates.author' | trans({'author': presentation.user}) }}</small>{% endif %}</h4>
                            <div class="infoBlock">
                                <div class="infos">
                                    <small><span class="glyphicon glyphicon-time" title="Date de création"></span> {{ presentation.createdAt | date("d/m/Y") }}</small><br>
                                    <small><span class="glyphicon glyphicon-refresh" title="Date de dernière mise à jour"></span> {{ presentation.getLastVersionDate | time_diff }}</small>
                                </div>
                                <div class="infos pull-right">
                                    <small><span class="glyphicon glyphicon-th-large" title="Nombre de slides"></span> {{ 'presentations.nbslides' | transchoice(presentation.getNbSlides) }}</small><br>
                                    <small><span class="glyphicon glyphicon-picture" title="Nombre d'images"></span> {{ 'presentations.nbpictures' | transchoice(presentation.pictures | length) }}</small>
                                </div>
                            </div>
                        </div>
                        {% if presentation.pictures | length > 0 %}
                            <div class="media-right">
                                <img width="50px" class="img-thumbnail media-object" src="{{ path('show-picture', { 'uuid': (presentation.pictures | first).uuid }) }}" />
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer">
                    {% if app.user == presentation.user %}
                        <a href="{{ path('app') }}" class="edit" data-presentation="{{ presentation.title }}"><i class="glyphicon glyphicon-edit"></i></a>
                        <a href="#" class="publish" data-presentation="{{ presentation.id }}"><i class="glyphicon glyphicon-bookmark"></i></a>
                    {% endif %}
                    <a href="{{ path('export-presentation', {'presentation': presentation.id }) }}" class="download-json" data-presentation="{{ presentation.title }}"><i class="glyphicon glyphicon-download-alt"></i></a>
                    <a href="#" class="fork" data-presentation="{{ presentation.id }}"><i class="glyphicon glyphicon-duplicate"></i></a>
                    {% if presentation.rendered %}<a class="play right" href="{{ path('preview', {'type': 'impress', 'title': presentation.title }) }}"><i class="glyphicon glyphicon-play-circle"></i></a>{% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="no-presentations-message" style="{{ templates | length > 0 ? 'display: none;' : '' }}">
        {% if app.request.attributes.get('_route') == 'templates-public' %}
            {{ 'templates.publicempty' | trans }}
        {% else %}
            {{ 'templates.empty' | trans }}
        {% endif %}
    </div>
</div>

{% include 'default/modals/fork.html.twig' %}
{% include 'default/modals/template.html.twig' %}
{% endblock content %}
