{% extends 'base.html.twig' %}

{% block content %}
<div class="container ombre">
    <div class="col-md-6 col-md-offset-3">
        <div class="header">
            <h4 class="modal-title" id="templateModalTitle">{{ 'templates.title' | trans({ '%presentation%': presentation.title }) }}</h4>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage|trans }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage|trans }}
                </div>
            {% endfor %}
        </div>
        <div class="body">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-group'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.template) }}
                {{ form_errors(form.template) }}
                {{ form_widget(form.template, {'attr': {'class': 'template-checkboxes'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.public) }}
                {{ form_errors(form.public) }}
                {{ form_widget(form.public, {'attr': {'class': 'template-checkboxes'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.groupShares) }}
                {{ form_errors(form.groupShares) }}
                {{ form_widget(form.groupShares) }}
            </div>
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            <a class="btn btn-default" href="{{ path('presentations') }}">{{ 'presentations.edit.cancel' | trans }}</a>
            {{ form_rest(form) }}
            </form>
        </div>
        <h4>{{ 'presentations.download.title' | trans }}</h4>
        <p>
            <em>{{ 'presentations.download.desc' | trans }}</em>
        </p>
        <p class="alert alert-info">{{ 'presentations.download.zip.notavailable' | trans }}</p>
        <div class="btn-group" role="group" aria-label="downloads">
            <a href="{{ path('export-presentation', {'presentation': presentation.id }) }}" class="btn btn-primary"><i class="material-icons vertical-align-middle">file_download</i> JSON</a>
            <a href="#" class="btn btn-primary disabled"><i class="material-icons vertical-align-middle">file_download</i> HTML (Zip)</a>
        </div>
        {{ render(controller('StrutSlideBundle:Analyser:analyse', {'presentation': presentation.id})) }}
    </div>
</div>
{% endblock %}
