{% trans_default_domain 'FOSUserBundle' %}

<div class="card">
<form action="{{ path("fos_user_security_check") }}" method="post">
    <div class="card-block">
        {% if error %}
            <div class="alert alert-warning" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input class="form-control" type="text" id="username" name="_username" placeholder="Votre nom d'utilisateur" value="{{ last_username is defined ? last_username }}" required="required" />
        </div>

        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="Votre mot de passe"/>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on" />
                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>
        </div>

    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-secondary">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</a>
    <button class="btn btn-primary" type="submit" name="send">{{ 'security.login.submit'|trans }}</button>
    <div class="card-action center">
        <a href="{{ path('fos_user_resetting_request') }}">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</a>
    </div>
</form>
