{% extends "base.html.twig" %}

{% block title %}{{ 'group.requests.page_title'|trans }}{% endblock %}

{% block content %}

    <div class="container ombre">
        <div class="row">
            <div class="col-md-6">
                <h4>{{ 'group.password.title'|trans }}</h4>

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.password) }}
                    {{ form_errors(form.password) }}
                    {{ form_widget(form.password, {'attr':  {'class': 'form-control'}}) }}
                </div>

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                {{ form_widget(form._token) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
